.App{
  margin-right: 20rem;
  border: 2px solid black;
}
.App h1{
  text-align: center;
  
 color: red;
  display: flex;

}
.App h3{
  text-align: center;
 
  color: blue;
  display: flex;
  width: 45%;
  

}

.App h2{
  text-align: center;
 
  color: seagreen;
  display: flex;
}